<mat-toolbar color="primary">
  MyNews
  <span class="left">
    <button mat-button routerLink="/news">News</button>
    <span *ngIf="userService.isLoggedIn()">
      <button mat-button routerLink="/messages">Messages</button>
    </span>
    <span *ngIf="userService.isLoggedIn() && userService.userHasRole(['ADMIN'])">
      <button  mat-button [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item routerLink="admin/delete/user">Delete User</button>
        <button mat-menu-item routerLink="admin/delete/news">Delete News</button>
        <button mat-menu-item routerLink="admin/delete/comment">Delete Comment</button>
      </mat-menu>
    </span>
  </span>
  <span class="right">
    <button *ngIf="userService.isLoggedIn()" mat-button (click)="profile()">Profile</button>
    <button *ngIf="!userService.isLoggedIn()" mat-button routerLink="/user">Login</button>
    <button *ngIf="userService.isLoggedIn()" (click)="userService.logout()" mat-button routerLink="/user">Logout</button>
  </span>
</mat-toolbar>