<mat-toolbar color="primary" class="menu">
  MyNews
  <span class="left">
    <button mat-button routerLink="/news">News</button>
    <span *ngIf="userService.isLoggedIn()">
      <button mat-button routerLink="/messages">Messages</button>
    </span>
    <span *ngIf="userService.isLoggedIn() && userService.userHasRole(['ADMIN'])">
      <button  mat-button [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item routerLink="admin/users">Users</button>
        <button mat-menu-item routerLink="admin/news">News</button>
        <button mat-menu-item routerLink="admin/comments">Comments</button>
      </mat-menu>
    </span>
  </span>
  <span class="right">
    <button *ngIf="!userService.isLoggedIn()" mat-button routerLink="/register">Registration</button>
    <button *ngIf="userService.isLoggedIn()" mat-button (click)="profile()">Profile</button>
    <button *ngIf="!userService.isLoggedIn()" mat-button routerLink="/login">Login</button>
    <button *ngIf="userService.isLoggedIn()" (click)="userService.logout()" mat-button routerLink="/login">Logout</button>
  </span>
</mat-toolbar>