<div *ngIf="dataSource && userService.isLoggedIn() && userService.userHasRole(['ADMIN'])" class="container mat-elevation-z8">

  <div class="header">
      <h3>Delete News:</h3>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let news" routerLink="/user/{{news.user.id}}"> {{news.user.email}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="news">
      <mat-header-cell *matHeaderCellDef> News </mat-header-cell>
      <mat-cell *matCellDef="let news" routerLink="/news/comments/{{news.id}}"> {{news.text}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reported">
      <mat-header-cell *matHeaderCellDef> Reported </mat-header-cell>
      <mat-cell *matCellDef="let news">
        <span *ngIf="news.reported">
          <button mat-button color="warn" (click)="deleteReport(news.id)">REPORTED</button> 
        </span>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let news">
          <button mat-raised-button color="warn" (click)="deleteNews(news.id)" >DELETE</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div *ngIf="!dataSource">
<mat-spinner class="spinner"></mat-spinner>
</div>
