<!DOCTYPE html>

<html>
    <head>
        <title>MyDatasheet</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>MyDatasheet:</h1>
        mame: <span th:text="${me.name}"></span><br />
        email: <span th:text="${me.email}"></span><br />
        age: <span th:text="${me.age}"></span><br />
        city: <span th:text="${me.city}"></span><br />
        registry date: <span th:text="${me.date}"></span><br />
        <form method="post" th:action="@{/datasheet/modify}" th:object="${modifyUser}">
            mame: <input type="text" th:field="${modifyUser.name}" /><br/>
            age: <input type="number" th:field="${modifyUser.age}" /><br/>
            city: <input type="text" th:field="${modifyUser.city}" /><br/>
            password: <input type="password" th:field="${modifyUser.password}" /><br/>
            <input type="submit" />
        </form>
    </body>
</html>
