<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Login</h1>
        <form method="post" th:action="@{/auth/login}" th:object="${loginUser}">
            <input type="text" th:field="${loginUser.email}" /><br/>
            <input type="password" th:field="${loginUser.password}" /><br/>
            <input type="submit" />
        </form>
        <h1>Registry</h1>
        <form method="post" th:action="@{/auth/registry}" th:object="${newUser}">
            email: <input type="email" th:field="${newUser.email}" /><br/>
            name: <input type="text" th:field="${newUser.name}" /><br/>
            password: <input type="password" th:field="${newUser.password}" /><br/>
            <input type="submit" />
        </form>
    </body>
</html>
