<!DOCTYPE html>

<html>
    <head>
        <title>Messeges</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Messeges:</h1>
        <ul>
            <li th:each="messege : ${messeges}">
                messege_id: <span th:text="${messege.id}"></span><br />
                text: <span th:text="${messege.text}"></span><br />
                date: <span th:text="${messege.date}"></span><br />
                from: <span th:text="${messege.fromUser.email}"></span><br />
                to: <span th:text="${messege.toUser.email}"></span>
                <br/>
            </li>
        </ul>
    </body>
</html>
