<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MyNews</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h3>Logd in as:</h3>
        <span th:text="${name}"></span>
        <h2>Add news:</h2>
        <form method="post" th:action="@{/news/add}" th:object="${newNews}">
            <input type="text" th:field="${newNews.text}" />
            <input type="submit" />
        </form>
        <h1>News:</h1>
        <ul>
            <li th:each="post : ${news}">
                post_id: <span th:text="${post.id}"></span><br />
                user_id: <span th:text="${post.user.id}"></span>
                user_name: <span th:text="${post.user.name}"></span><br />
                news: <span th:text="${post.text}"></span><br />
                likes: <span th:text="${post.likes}"></span>
                dislikes: <span th:text="${post.dislikes}"></span><br />
                date: <span th:text="${post.date}"></span><br />
                <ul>
                    <li th:each="comment : ${post.comments}">
                        comment: <span th:text="${comment.text}"></span>
                    </li>
                </ul>
                <br/>
            </li>
        </ul>
    </body>
</html>
