<div *ngIf="_news">
    <mat-card class="news-card">
        <h4>News</h4>
        <app-news [news]="_news"></app-news>
    </mat-card>
    
</div>
<div *ngIf="!_news">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="_comments">
    <app-commentlist [comments]="_comments"></app-commentlist>
</div>
<div *ngIf="!_comments">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="_news && _comments && userService.userHasRole(['USER', 'ADMIN'])">
    <app-addcomment (createComment)="addComment($event)"></app-addcomment>
</div>